<footer>
  <div class="subscribe-section">
    <p>Suscríbete para más novedades</p>
    <form>
      <input type="email" placeholder="Tu correo electrónico">
      <button type="submit">Suscribirse</button>
    </form>
  </div>
  <div class="footer-nav">
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Precios</a></li>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Trabajo</a></li>
      <li><a href="#">Contactanos</a></li>
    </ul>
  </div>
  <div class="social-media">
    <ul>
      <li><a href="#"><img src="assets/facebook-logo.png"></a></li>
      <li><a href="#"><img src="assets/twitter-logo.png"></a></li>
      <li><a href="#"><img src="assets/youtube-logo.png"></a></li>
    </ul>
  </div>
  <div class="copyrith-section">
    <p>© 2023 - UJOBS</p>
  </div>
</footer>
<!-- TODO: test-->