.spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: #1e3d59;
  padding: 0 10%;
}

.mat-toolbar img {
  height: 180px;
  margin-top: 15px;
}

.mat-toolbar a {
  display: inline-block;
  margin: 0 20px;
  color: #ffffff;
  text-decoration: none;
}

.mat-toolbar a:hover {
  color: #89abe3;
}

.mat-toolbar button {
  background-color: #009688;
  color: #ffffff;
  border: none;
}

.mat-toolbar button:hover {
  background-color: #00796b;
}
