<mat-toolbar color="primary">
  <div class="header-container">
    <div class="logo-container">
      <a href="#"><img src="assets/logo.png"></a>
    </div>
    <div class="spacer"></div>
    <div class="nav-container">
      <ul class="nav-list">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Funcionalidades</a></li>
        <li><a href="#">Preguntas Frecuentes</a></li>
      </ul>
      <button mat-button color="accent">Contactanos</button>
    </div>
  </div>
</mat-toolbar>
