<body>
    <section class="hero row container">
        <div class="main-intro">
            <h1>Conectando estudiantes<br>talentosos con <br> empleadores innovadores</h1>
            <p>Únete a nuestra creciente comunidad de estudiantes <br>y empleadores para llevar tu futuro profesional al
                siguiente nivel.</p>
            <button mat-button>Unete Ahora</button>
        </div>
        <div class="row">
            <img src="../../../assets/hero-image.png" alt="" />
        </div>
    </section>
    <section class="advantages row">
        <div class="container">
            <div>
                <img src="../../../assets/hero-image.png" alt="" />
            </div>
            <div class="advantage-content">
                <h2>¡Impulsa tu futuro profesional hoy!</h2>
                <p>¿Eres estudiante universitario buscando oportunidades<br> profesionales
                    o una empresa en búsqueda del talento joven ideal? <br>¡UJOBS es la
                    solución perfecta para ti! Descubre las principales <br>razones para unirte
                    a nuestra plataforma y cómo podemos ayudarte a <br>impulsar tu carrera
                    o encontrar el talento adecuado para tu organización.
                </p>
                <div class="app-store-buttons">
                    <a href="https://play.google.com/store" target="_blank">
                        <img class="app-store-badge"
                            src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
                            alt="Get it on Google Play">
                    </a>
                    <a href="https://www.apple.com/app-store/" target="_blank">
                        <img class="app-store-badge-apple"
                            src="https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg"
                            alt="Download on the App Store">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="features row">
        <div class="container">
            <div class="features-content">
                <h2>Que te permite hacer UJOBS</h2>
                <ul class="custom-list">
                    <li>Conexión directa con empleadores</li>
                    <li>Portafolio académico en línea</li>
                    <li>Oportunidades personalizadas</li>
                    <li>Colaboración y networking</li>
                </ul>
                <a><button mat-button class="features-button">Aprende más</button></a>
            </div>
            <div class="row">
                <img src="../../../assets/hero-image.png" alt="" />
            </div>
        </div>
    </section>
</body>