<body>
    <section class="hero row container">
        <div class="main-intro">
            <h1>Conectando estudiantes<br>talentosos con <br> empleadores innovadores</h1>
            <p>Nam interdum felis at felis placerat, sed varius<br>massa ultricies.
                Interger quis nisi non dolor <br> scelerisque effficitur at sed turpis</p>
            <button mat-button>Unete Ahora</button>
        </div>
        <div class="row">
            <img src="../../../assets/hero-image.png" alt="" />
        </div>
    </section>

</body>