<body>
    <section class="hero row container">
        <div class="main-intro">
            <h1>Nosotros<br>5 Horsemen</h1>
            <p>5 Horseman es un startup innovador, creada por alumnos de la UPC, enfocada en el
                desarrollo de la plataforma UJOBS, está busca resolver la inquietud de los
                estudiantes para buscar empleo.</p>
            <button mat-button>Conoce al equipo</button>
        </div>
        <div class="row">
            <img src="../../../assets/aboutus-image.png" alt="" />
        </div>
    </section>
</body>