<body>
    <section class="hero row container">
        <div class="main-intro">
            <h1>Nosotros<br>5 Horsemen</h1>
            <p>5 Horseman es un startup innovador, creada por alumnos de la UPC, enfocada en el
                desarrollo de la plataforma UJOBS, está busca resolver la inquietud de los
                estudiantes para buscar empleo.</p>
            <button mat-button>Conoce al equipo</button>
        </div>
    </section>
    <section class="team-container">
        <div class="team-member">
            <img src="../../../assets/Team_1.png" alt="" class="circular-image"/>
            <p>López Takahashi,<br> Rodrigo Andrés</p>
          </div>
          <div class="team-member">
            <img src="../../../assets/Team_2.png" alt="" class="circular-image"/>
            <p>Romero Cacha,<br> Richar Varoni</p>
          </div>
          <div class="team-member">
            <img src="../../../assets/Team_3.png" alt="" class="circular-image"/>
            <p>García Murga,<br> Alonso Moisés</p>
          </div>
    </section>
</body>